Macintosh codes

Dale R. Worley:
>> Macintosh Universal Type Identifier code:  "org.w3c.woff"

> Is this part of a media type registration?  (If so, is it required for
all "font" subtypes?)

If I recall correctly, this information was added during review on ietf-types list of the original applications/font-woff media type, in response to a comment that Macintosh File Type Codes (which we had in the original proposal, as part of "Additional Information") were being replaced by Macintosh Universal Type Identifier codes.

The registration is here
https://www.iana.org/assignments/media-types/application/font-woff

I haven't seen any indication that this information is useful or necessary, and no of know way to check that the information is in fact correct, or used by macOS.

I would be in favor of dropping it, unless it can be shown that is is needed and correct.


Mentioning @litherum for guidance on whether these Macintosh type codes are actually used anywhere and if so, whether anyone checks that the ones in media type registrations are actually the correct ones.

Mail I just sent to media-types@ietf.org:

It is not clear to me what, in a Media Type registration, the "Macintosh file type code" is for, or what the allowed range of tokens is, or whether anyone checks this information or uses it in any way.

It seems that this code is for use on Mac OS 9 or earlier, i.e. pre-OS X. 

Apple seems to have replaced this with "Uniform Type Identifiers".
https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/understanding_utis/understand_utis_intro/understand_utis_intro.html
and says that there are various legacy sources of it 
- the four character codes (Macintosh file type code)
- filename extensions
- "MIME types" (sic)
and that Uniform Type Identifiers "replaces all these incompatible tagging methods with the string ..."

There seems to be a registry of System-Declared UTIs
https://developer.apple.com/library/content/documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html#//apple_ref/doc/uid/TP40009259-SW1

RFC6833, section 4.12 Additional Information has a reference to MacOSFileTypes

   [MacOSFileTypes]  Apple Computer, Inc., "Mac OS: File Type and
                     Creator Codes, and File Formats", Apple Knowledge
                     Base Article 55381, June 1993,
                     <http://www.info.apple.com/kbnum/n55381>.

and the link has rotted.

On to my actual questions:

1) Is there continuing value in providing this data in a Meda Type registration, given that it does not seem to be used by current Apple products and has been replaced, as far as Apple is concerned, by UTIs?

I see some registrations say 'none' as the value. It seems better to me to just remove this field from the template.

2) Is there value in adding the Apple UTI (which is at least documented, and in current use) to the registration templates? 

My reason for asking is draft-ietf-justfont-toplevel
https://datatracker.ietf.org/doc/draft-ietf-justfont-toplevel/

which will define a new top-level Media Type for fonts. I am very tempted to just remove the "Macintosh file type code" from the registration template, and could go either way on replacing it with an "Apple Uniform Type Identifier" field - opinions welcome.

Raisng on this list since it affects all other registration templates as well.


On https://developer.apple.com/library/content/documentation/Miscellaneous/Reference/UTIRef/Articles/System-DeclaredUniformTypeIdentifiers.html#//apple_ref/doc/uid/TP40009259-SW1
I see

public.font
public.truetype-font
public.opentype-font
public.truetype-ttf-font (!!)
public.truetype-collection-​font

nothing for woff or woff2.

Response from Ned Freed
https://mailarchive.ietf.org/arch/msg/media-types/vhfYzri_IjiaqJlhS8JwXMdpnNk
suggests dropping Macintosh file type code (or leaving it blank) blank is best, and adding Apple UTI "can't hurt".

According to 
https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/understanding_utis/understand_utis_conc/understand_utis_conc.html#//apple_ref/doc/uid/TP40001319-CH202-CHDHIJDE
Java-style reversed DNS identifiers are used for things outside Apple-defined 'public'. So
org.w3.woff
org.w3.woff2