Spaces in parameter values

Dale R. Worley:
> I strongly recommend against allowing whitespace in parameter values.
It seems to be allowed in principle (RFC 6838 section 4.3), but I
expect many processors of media types to misbehave on parameter values
containing whitespace.

Okay (I was not aware that processors were known to misbehave on spaces in parameter values, and would be interested to know more about that).

I can also see that people might expect to use spaces.


I am not aware of processors "misbehaving" with spaces in parameter values...I would think that spaces need to be supported for things like filenames, and therefore, should be handled robustly.


There is a suggestion that these can be problematic for some processors. I haven't seen actual evidence of this, and invite people who are aware of specific processors that have an issue there to let us know.

In the absence of evidence, I would expect to close this issue without change.

Okay, removed the whitespace.

Dale R. Worley:
> My experience is that basically any class of software will (taken on the
whole) mis-process whitespace that appears in a particular context
unless the functional requirements stated clearly how whitespace is to
be handled. RFC 6838 doesn't discuss whitespace, hence code to process
media type names can be expected to mis-process whitespace.

> Though now that I look at RFC 6838 section 4.3, I see that it gives the
syntax of a parameter value as "restricted-name", and that does not
admit whitespace characters.
